{{ client_all_files_certs_list[client_base_config] }}
<ca>
{{ client_all_files_certs_list[pki_build_ca_check] }}</ca>
<cert>
{{ client_all_files_certs_list[client_signed_cert_check] }}</cert>
<key>
{{ client_all_files_certs_list[client_gen_req_check] }}</key>
<tls-crypt>
{{ client_all_files_certs_list[ta_key_check] }}</tls-crypt>